main{
  background-color: #6BBAA7;
}

.inside{
  display: grid;

}

.info{
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-bottom: 1rem;
}

.side-template{
  display: grid;
  grid-template-columns: 1fr;
}

.side-template img{
  min-width: 100%;
  max-width : 100%;
}

.inner{
  display: grid;
  grid-template-columns: 1fr;
}

table{
  justify-content: center;
}
