@media only screen and (min-width: 560px) {

    .rentals{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 5px;
        background: #FBA100;
    }

    .rentals img{
        max-height: 20rem;
        min-height: 20rem;
    }

    .inner:first-child{
        font-size: small;
    }
    
} /* end of media query */