body {
  font-size: 18px;
  line-height: 1.5;
}

h1 {
    font-size: 1.5rem;
}

header,
main,
footer {
  margin: 1rem auto;
  max-width: 800px;
}

header,
footer {
  background-color: navy;
  color: #fff;
  text-align: center;
  border-radius: 1.5rem;
  background: navy;
  padding: 1rem;
  font-family: "Noto" serif;
  align-self: center;
}

main hr {
  height: .25rem;
  border-width: 0;
  color: #000;
  background-color: #000;
}

header img {
  height: auto;
  max-width: 90%;
  margin: 1.5em;
  border: 1px solid #000;
  align-items: center;
}
