@media only screen and (min-width: 1028px) {

    .company-info img {
        max-width: 10%;
        align-self: center;
      }
      
    nav{
        display: grid;
        grid-template-columns: 1fr 4fr;
        padding-right: 5px;
    }

    h1{
        font-size: medium;
    }
    h3{
        font-size: small;
    }
    h1, h3{
        background: #6BBAA7;
    }

    .company-name{
        text-align: left;
        align-self: center;
    }

    .rent{
        padding: 10px;
        left: 200px;
        top: 200px;
        max-width: 30%;
      }
    
      #nav-menu ul li{
        font-size: 3rem;
      }
} /* end of media query */