h1 {
  color: brown;
}

header,.column,
footer {
  color: brown;
  text-align: center;
  border-radius: 1.5rem;
  background: burlywood;
  padding: 1rem;
  align-self: center;
}

header,
footer,
main {
  max-width: 70rem;
  margin-left: 5%;
  margin-right: 5%;
  align-self: center;
}

a {
  color: crimson;
}
.column {
  padding: 0.5em;
  margin:.1em;
  margin-top: .05;
  float: left;
  width: 31%;
  max-width: 100%;
  color: brown;
}

.row:after {
  content: "";
  display: flex;
  clear: both;
}

img {
  max-width: 100%;
  height: auto;
  align-self: center;
}
