@media only screen and (max-width: 45em){
  
h1{
  font-size: 40px;
}
nav div{
  background: #000040;
}

nav div ul {
  width: 70rem;
  padding-left: 0;
  font-size: 1.5rem;
  list-style: none;
  margin: 0;
}

nav div ul li{
  display: flex;
}

nav div ul li a {
  color: white;
  text-align: center;
  text-decoration: none;
}

main img{
  width: 15rem;
  height: auto;
}



}