h1 {
  color: #000040;
}

header img{
    margin: 1rem;
    width: 180px;
    height: auto;
}
nav {
	margin: 0 auto;
	max-width: 760px;
	background-color: tomato;
}
.navigation {
	list-style: none;
	padding: 0;
}
.navigation li:first-child {
	display: block;
}
.navigation li {
	display: none;
}
.navigation a {
	display: block;
	padding: 0.75rem;
	text-align: left;
	text-decoration: none;
	color: black;
	font-weight: 700;
}
.navigation a:hover {
	color: white;
	background-color: black;
}

.responsive li {
	display: block;
}


.flex {
  display: flex;
}
