body {
	font-size: 16px;
	font-family: 'Fjalla One', sans-serif;
}

h1 {
  text-align: right;
  font-family: 'Fjalla One', sans-serif;
}

header{
  color: #000040;
}

nav,
footer {
  color: white;
  background: #000040;
}

nav ul {
    display: grid;
    list-style: none;
}

nav ul li a {
  color: white;
  text-align: center;
  padding: 0.75 rem;
  text-decoration: none;
}

footer a {
  color: aqua;
}
a:hover {
  color: yellow;
}

header {
  margin-top: 0;
}
