@media only screen and (min-width: 560px) {
    
    .company-info{
        display: grid;
        grid-template-columns: 2fr 1fr;
    }

    h1, h3{
        background: #6BBAA7;
    }

    #nav-menu ul{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    #nav-menu ul li{
        font-size: 2rem;
      }

    .company-name{
        align-self: end;
    }

    .multi-forcast{
        align-items: center;
        text-align: center;
    }

    
} /* end of media query */