.company-info{
  display: flex;
  justify-content: center;
  justify-items: center;
  text-align: center;
  flex-direction: column;
}
.company-info img {
  min-width: 95%;
}

nav{
  background: #6BBAA7;
}

nav img{
  max-width: 100%;
}

h1, h3{
  background: #FBA100;
  margin-top: 0px;
  margin-bottom: 0px;
}

#nav-menu{
  margin: 0;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: .2rem;
  background: #6c648B;
  list-style: none;
}

#nav-menu ul li{
  list-style: none;
  display: block;
}

#nav-menu ul li:hover{
  background: #FBA100;
  color: black;
}

a{
  text-decoration: none;
}

main{
  margin: 0 auto;
  display: grid;
}

.main-pic img{
  max-width: 100%;
  margin: 0;
}

.position{
  position: relative;
}

.rent{
  padding: 10px;
  position: absolute;
  left: 20px;
  top: 20px;
  max-width: 15%;
  background-color: #6c648B;
  color: white;
  box-shadow: 0px 0px 20px #6c648B;
}

.rent:hover{
  background:#FBA100;
}

.multi-display{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.multi-display img{
  max-width: 100%;
}

.multi-forcast{
  margin: 0;
  background: #FBA100;
  max-width: 100%;
  padding-bottom: 1rem;
}

#nav-menu ul img{
  max-width: 100%;
}

footer{
  min-height: 2rem;
  background: #6BBAA7;
}

a{
  color: #FBA100;
}

a:hover{
  color: black;
}

footer{
  text-align: center;
}