@media only screen and (min-width: 70rem){

    main{
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: center;
        color: white;
        height: 45rem;
    }
    div{  
        display: grid;
    }
    div img{
        max-width: 100%;
        max-height: 100%;
        min-height: 100%;
        min-width: 100%;
    }

    footer{
        margin-top: 20px;
    }

}