@media only screen and (min-width: 40rem){

    header, main{
        max-width: 90%;
        justify-content: center;
    }
    header{
        margin: auto;
        align-items: center;
        justify-content: space-between;
    }
    header img{
        max-width: 60%;
        height: 100px;
    }

    nav{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    
    main{
        max-width: 90%;
        margin: 0 auto;
    }

    form fieldset {
            margin-top: 20px;
    }

    .contact, .storm{
        margin: 2rem;
        grid-template-columns: 1fr 3fr;
        min-height: 2rem;
    }
    
    .comment{
        min-height: 16rem;
        min-width: 80%;
    }
    .rad{
        display: inline;
        padding: .2rem;
        min-height: 2rem;
    }

    h2{
        color: white;
    }










    .navigation{
        min-width: 100%;
        flex-direction: row;
        
    }

    .navigation li {
        flex: 1 1 auto;
        display: block;
        font-size: larger;
    }
    .responsive li {
        font-size: larger; 
    }

    .navigation li:first-child{
        display: none;
    }

    footer div{
        position: fixed center;
        bottom: 0;
        text-align: center;
        justify-content: center;
        padding: .5rem;
    }
}