@media only screen and (min-width: 70rem){
    header{
        max-width: 90%;
        margin: 0;
        margin-right: 0px;
    }
    header img{
        max-width: 60%;
        height: 100px;
        margin-right: 23rem;
    }
    header div{
        margin-left: 20rems;
    }

    nav{
        display: flex;
        flex-direction: row;
    }

    .multi-forcast{
        display: flex;
    }

    nav {
        background-color: #c0c000;
        color: #000040
    }
    .navigation {
        margin-left: 5rem;
        list-style: none;
        padding: 0;
    }
    .navigation li:first-child {
        display:none;
    }

    .navigation li {
        font-size: larger;
        display: inline-block;
        margin: 1.8em;
    }
    .navigation a {
        padding: .5rem;
        text-decoration: none;
        color:#000040;
        border: black;
        border-style: solid;
    }
    .navigation a:hover {
        color: white;
        background-color: #000040;
        border: white;
    }
    .responsive li {
        font-size: larger;
        display: inline-block 
    }
    
    main, footer{
        max-width: 200rem;
        margin:60px
    }

    main{
        margin-bottom: 0px;
        margin-top: 0px;
    }
    footer{
        margin-top: 0px;
    }
   
    .article{
        display: flex;
        flex-direction: row;
    }
    .article img{
        padding-right:1rem;
        max-width: 99rem;
        max-height: 10rem;
    }
}