@media only screen and (min-width: 40rem){
    header{
        max-width: 90%;
        margin: 0;
        margin-left: 10px;
    }
    header img{
        max-width: 60%;
        height: 100px;
        margin-right: 5rem;
    }
    header div{
        margin-left: 5rem;
    }

    nav{
        display: flex;
        flex-direction: row;
    }

    main{
        align-items: center;
    }

    .multi-forcast{
        display: flex;
    }
    .navigation li:first-child {
        display:none;
    }

    .navigation{
        flex-direction: row;
    }

    .navigation li {
        flex: 1 1 auto;
        display: block;
        font-size: larger;
        margin: .1em;
    }
    .responsive li {
        font-size: larger; 
    }
    
    footer{
        margin-top: 0px;
    }
    .article{
        display: block;
    }
    .article img{
        float: right;
        padding-right:1rem;
        max-width: 99rem;
        max-height: 10rem;
    }
}