h1 {
  color: red;
}

.flex {
  display: flex;
}

.flex.row-reverse {
  flex-direction: row-reverse;
}

.container {
  padding: 0px 10%;
}

nav ul {
  display: flex;
}

navli {
  padding: 4rem;
}

a {
  text-decoration: none;
}