.terms{
  background: #6BBAA7;
  margin: 0;
  padding-bottom: 1rem;
}

.adventure{
  margin: 0;
}

h2{
  margin: 0;
}

.terms h1{
  background-color: #6BBAA7;
}

.my-form{
  background: #FBA100;
  display: flex;
  flex-direction: column;
}

.form-nav div{
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.info{
  padding 1rem;
  margin: 0;
  background: #FBA100;
}