@media only screen and (min-width: 40rem){

    header, main{
        max-width: 90%;
    }
    header{
        margin: auto;
        align-items: center;
        justify-content: center;
        justify-content: space-between;
    }
    header img{
        max-width: 60%;
        height: 100px;
    }

    nav{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: auto;
    }

    main{
        margin: auto;
    }
    main div{
        justify-content: center;
    }

    .multi-forcast{
        display: flex;
    }
    .navigation li:first-child {
        display:none;
    }

    .navigation{
        max-width: 100%;
        flex-direction: row;
    }

    .navigation li {
        flex: 1 1 auto;
        display: block;
        font-size: larger;
    }
    .responsive li {
        font-size: larger; 
    }
    
    .article{
        display: block;
    }
    .article img{
        float: right;
        padding-right:1rem;
        max-width: 99rem;
        max-height: 10rem;
    }

    .contact div, #map{
        max-width: 50%;
        background: #C0C000;
        color: black;
    }
    #map{
        width: 5rem;
        display: flex;
    }

    footer div{
        text-align: center;
        justify-content: center;
        padding: .5rem;
    }
}